<!-- <style>
  h6 {
    color: white;
  }

  a {
    color: #EAEDF2;
  }
</style> -->
<footer data-section-id="1" data-category="footers" data-component-id="7fd1b1dd_09_awz" class="pt-4 pb-3"
  style="background-color: #d5dce0">
  <div class="container text-center text-lg-left text-white">
    <div class="row d-flex justify-content-center justify-content-lg-between">
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav1-column">Products</h6>
        <ul class="list-inline ml-0" data-config-id="nav1-links">
          <li class="py-1"><a href="/digital-maps">Digital Maps</a></li>
          <li class="py-1"><a href="/digital-projects">Digital Projects</a></li>
          <li class="py-1"><a href="/digital-process">Digital Process</a></li>
          <li class="py-1"><a href="/digital-labs">Digital Labs</a></li>
          <li class="py-1"><a href="/digital-mines">Digital Mines</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Digital Maps</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/digital-maps/business-process-mining">Business Process Mining</a></li>
          <li class="py-1"><a href="/digital-maps/landscape-assessment">Landscape Assessment</a></li>
          <li class="py-1"><a href="/digital-maps/transformation-insights">Transformation Insights</a></li>
          <li class="py-1"><a href="/digital-maps/timeline-effort-estimation">Timeline and Effort Estimation</a></li>
          <li class="py-1"><a href="/digital-maps/custom-code-analysis">Custom Code Analysis</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Digital Projects</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/digital-projects/digital-workspace">Digital Workspace</a></li>
          <li class="py-1"><a href="/digital-projects/sap-activate-cockpit">SAP Activate Cockpit</a></li>
          <li class="py-1"><a href="/digital-projects/project-reporting">Smart Project Reporting</a></li>
          <li class="py-1"><a href="/digital-projects/digital-signoffs-workflows">Digital Signoffs and Workflows</a></li>
          <li class="py-1"><a href="/digital-projects/social-collaboration">Social Collaboration</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Digital Process</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/digital-process/process-orchestration">Process Orchestration</a></li>
          <li class="py-1"><a href="/digital-process/sap-scope-item-cockpit">SAP Scope Item Cockpit</a></li>
          <li class="py-1"><a href="/digital-process/custom-process-adaptation">Custom Process Adaptation</a></li>
          <li class="py-1"><a href="/digital-process/process-dashboards">Process Dashboards</a></li>
          <li class="py-1"><a href="/digital-process/process-modelling">Process Modelling</a></li>
        </ul>
      </div>
      <!-- <div class="w-100 border-top my-3"></div> -->
    </div>
    <div class="pt-5 row d-flex justify-content-center justify-content-lg-between">
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav1-column">Digital Labs</h6>
        <ul class="list-inline ml-0" data-config-id="nav1-links">
          <li class="py-1"><a href="/digital-labs/test-repository">Test Repository</a></li>
          <li class="py-1"><a href="/digital-labs/test-reporting">Test Reporting</a></li>
          <li class="py-1"><a href="/digital-labs/test-scripts-evidences-defects">Test Scripts and Evidences</a></li>
          <li class="py-1"><a href="/digital-labs/test-scenario-recommendations">Test Scenario Recommendations</a></li>
          <li class="py-1"><a href="/digital-labs/uat-signoffs">UAT Signoffs</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Digital Mines</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/digital-mines/change-impact-mining">Change Impact Mining</a></li>
          <li class="py-1"><a href="/digital-mines/change-impact-orchestration">Change Impact Orchestration</a></li>
          <li class="py-1"><a href="/digital-mines/release-impact-analytics">Release Impact Analytics</a></li>
          <li class="py-1"><a href="/digital-mines/process-impact">Process Impact</a></li>
          <li class="py-1"><a href="/digital-mines/test-fit-gaps">Test Fits and Gaps</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Resources</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/resources">Resource Center</a></li>
          <li class="py-1"><a href="/webinars">Webinars</a></li>
          <li class="py-1"><a href="/article/" target="_blank">Articles</a></li>
          <li class="py-1"><a href="/pricing">Pricing</a></li>
          <li class="py-1"><a href="https://ktern-ai.freshstatus.io/" target="_blank">Cloud Status</a></li>
        </ul>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 my-2 my-lg-0">
        <h6 data-config-id="nav2-column">Company</h6>
        <ul class="list-inline ml-0" data-config-id="nav2-links">
          <li class="py-1"><a href="/about-company">About</a></li>
          <li class="py-1"><a href="/news">News Center</a></li>
          <li class="py-1"><a href="/trust-center">Trust Center</a></li>
          <li class="py-1"><a href="/contact">Contact</a></li>
          <li class="py-1"><a href="https://support.ktern.com" target="_blank">Support Center</a></li>
        </ul>
      </div>
      <div class="w-100 border-top my-3"></div>
    </div>
    <div class="row flex-column flex-sm-row align-items-center justify-content-sm-between">
      <ul class="list-inline">
        {{ range .Site.Params.social }}
        <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .link | safeURL }}"
            target="_blank" aria-label="{{ .name }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
      <p class="mb-md-0 mb-4">{{ .Site.Params.copyright | markdownify }}</p>
    </div>
  </div>
</footer>

{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<script type="text/javascript"
  id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "f440e91b3668705fa583df5dbc6e74336a479d5c9175a86e330df6b09d955c51c217306de45b754907f8ee064f96a38d", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.in/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHZVHTK" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
    t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "9d9bn5pdf5");
</script>