{{ define "main" }}

{{ if .Content }}
<section class="section text-center pb-0">
  <div class="container">
    {{ .Content }}
  </div>
</section>
{{ end }}
<section class="section"
  style="background: no-repeat center url(https://storage.googleapis.com/ktern-public-files/website/Backgrounds/homepage_desktop_background.svg); background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ i18n "topics_title_1" | safeHTML }}</h2>
      </div>

      <div class="card-deck-wrapper p-3">
        <div class="card-deck">

          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/get-started/">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/icons/homescreen512.png" width="10%"
                  height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label dxaas-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Get started</span>
              </p>
              <p class="card-text">To comprehensively study an existing SAP System and determine the functional,
                technical, and business impact of an SAP Digital Transformation.
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #FFAE44;">
              </p>
            </a>
          </div>
          
          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/digital-maps/">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/Brand%20Elements/Maps.svg"
                  width="10%" height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label maps-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Digital
                  Maps</span>
              </p>
              <p class="card-text">To comprehensively study an existing SAP System and determine the functional,
                technical, and business impact of an SAP Digital Transformation.
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #FFAE44;">
              </p>
            </a>
          </div>

          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/digital-projects">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/Brand%20Elements/Projects.svg"
                  width="10%" height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label projects-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Digital
                  Projects</span>
              </p>
              <p class="card-text">To gain ultimate control of your SAP Digital Transformation through a unified
                cognitive digital workplace which promotes real-time collaboration, rigid governance, and automated
                sign-offs.
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #1F80FF;">
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="card-deck-wrapper p-3">
        <div class="card-deck">
          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/digital-process/">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/Brand%20Elements/Process.svg"
                  width="10%" height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label process-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Digital
                  Process</span>
              </p>
              <p class="card-text">
                To achieve business process control and visibility which enables integrity between business processes
                and project tasks.
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #5449AB;">
              </p>
            </a>
          </div>
          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/digital-labs/">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/Brand%20Elements/Labs.svg"
                  width="10%" height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label labs-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Digital
                  Labs</span>
              </p>
              <p class="card-text">
                To automate all aspects of SAP Testing – Test Preparation, Test Execution, Test Documentation, Test
                Monitoring, Test Sign-off, and end-to-end Test Management
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #49AC4D;">
              </p>
            </a>
          </div>
          <div class="card p-4">
            <a class="card-block stretched-link text-decoration-none" href="/documentation/integrations-guide/uipath/">
              <p class="card-title">
                <img src="https://storage.googleapis.com/ktern-public-files/website/Brand%20Elements/Mines.svg"
                  width="10%" height="10%" />
                <span class="card-title px-3 py-2 font-weight-bold guideCard-label -label mines-card"
                  style="font-size:x-large; color: #111217; text-transform: capitalize;">Digital
                  Labs</span>
              </p>
              <p class="card-text">
                To mine existing business processes, identify areas of potential optimization, and analyze the impact of
                change on processes and test during each Release
              </p>
              <p class="card-text text-muted text-left" style="border-style: dashed; border-color: #9C3C3A;">
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section"
  style="background: no-repeat center url(https://storage.googleapis.com/ktern-public-files/website/Backgrounds/hr-gridbg.png); background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ i18n "topics_title_2" | safeHTML }}</h2>
      </div>
      <div class="guideCards-cards">
        <a href="https://ktern.com/webinars" class="guideCard css-1kfjk3x-Link">
          <p class="guideCard-label -label">Webinars</p>
          <h4 class="guideCard-heading">On-Demand Webinars</h4>
          <p class="guideCard-subheading">Whether you’re just getting started with the platform, or you’ve been using
            KTern.AI for some time, there’s always
            something new to discover and ways to improve!</p>
        </a>
        <a href="https://ktern.com/resources" class="guideCard css-1kfjk3x-Link" target="_blank">
          <p class="guideCard-label -label">Resources</p>
          <h4 class="guideCard-heading">DXaaS Resources</h4>
          <p class="guideCard-subheading">Here's a collection of useful resources that will help your IT team make
            effective, risk-free, and successful
            SAP-centric Digital Transformations anytime, anywhere.</p>
        </a>
        <a href="https://support.ktern.com" class="guideCard css-1kfjk3x-Link" target="_blank">
          <p class="guideCard-label -label">Community Forum</p>
          <h4 class="guideCard-heading">Raise Queries</h4>
          <p class="guideCard-subheading">Connect with champions, customers, and the KTern.AI Customer Success team to
            ask and answer the questions regarding KTern.AI and SAP Transformations.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- <hr/> -->
<!-- {{ "/topics" | safeHTML }} -->

{{ if .Site.Params.cta.enable }}
{{ with .Site.Params.cta }}
<!-- {{ "call to action" | safeHTML }} -->
<section class="cta-gradient">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section px-3 bg-transparent shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}